:root {
    --list_header_height: 60px;
}


/* キャラ一覧サイト用のcss*/

/* サイト説明装飾 */
article .description p {
    color: #143E64;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 20px;
    margin: 40px 0;

    border-top: 6px solid #82b0d9;
    border-bottom: 6px solid #82b0d9;
}

/* 生徒一覧ツール */

.char_list_container {
    position: relative;
    width: 100%;
    height: 625px;
    background-color: #c9d9f3;
    margin-bottom: 100px;
    -webkit-user-select: none;
    user-select: none;
}

/* 一覧ツールのヘッダー部の装飾 -------------------------*/
.list_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--list_header_height);
    background-color: #5b84c4;
}

.list_header .content_container {
    display: flex;
    width: 95%;
    height: 65%;
}

/* item1の装飾 ---------------------------------------*/
.list_header .content_container .item1 {
    position: relative;
    width: 130px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.list_header .content_container .item1 span {
    font-family: 'Kosugi Maru', sans-serif;
    color: #143E64;
    font-size: 25px;
    white-space: nowrap;
    /*改行をしないためのcss*/
}

/* item2の装飾 ---------------------------------------*/
.list_header .content_container .item2_container {
    display: flex;
    margin-left: 95px;
}

.item2_container .item2 {
    position: relative;
    width: 100px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    margin-right: 7.5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.item2_container .item2.ALL.active {
    background-color: #143E64;

    &.item2 span {
        color: white;
    }
}

.item2_container .item2.STR.active {
    background-color: #D31A1A;

    &.item2 .red {
        color: white;
    }
}

.item2_container .item2.SPL.active {
    background-color: #4498e7;

    &.item2 .blue {
        color: white;
    }
}

.item2_container .item2 span {
    font-family: 'Kosugi Maru', sans-serif;
    color: #143E64;
    font-size: 25px;
}

/* 文字色変更するためのcss */
.item2_container .item2 .red {
    color: #D31A1A;
}

.item2_container .item2 .blue {
    color: #1E85E3;
}

/* item3の装飾 ---------------------------------------*/
.list_header .content_container .item3_container {
    display: flex;
    margin-left: 15px;
}

.item3_container .item3 {
    position: relative;
    width: 40px;
    height: 40px;
    /* background-color: #acdfff; */
    background-color: #4b99e1;
    border-radius: 10px;
    margin-right: 7.5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item3_container .item3 span {
    font-family: 'Kosugi Maru', sans-serif;
    /* color: #143E64; */
    color: white;
    font-size: 22px;
    white-space: nowrap;
}

.item3_container .item3 span ion-icon {
    /* color: #143e64; */
    color: white;
    /* width: 30px;
    height: 30px; */
    width: 27.5px;
    height: 27.5px;
    /* margin-top: 7px; */
    margin-top: 5px;
}

.item3_container .wide {
    width: 100px;
}

/* item4の装飾 ---------------------------------------*/
.list_header .content_container .item4 {
    position: relative;
    width: 50px;
    height: 40px;
    /* background-color: #acdfff; */
    background-color: #4b99e1;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.list_header .content_container .item4 p {
    color: white;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 25px;
}


/* 画像一覧ツールの装飾-------------------------------- */
.list_content_container {
    position: relative;
    width: 100%;
    height: calc(100% - var(--list_header_height));
}

.list_wrap {
    width: 95%;
    height: 90%;
}

.list_content_bg {
    position: relative;
    background-color: #F7FCFF;
    width: 100%;
    height: 100%;
    border-radius: 17.5px;
}

.list_content_bg ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: baseline;
    /* background-color: #d31a1a5a; */
    width: 95%;
    height: 90%;
    overflow-y: auto;
    padding: 5px;
}

.list_content_bg ul:hover::-webkit-scrollbar {
    display: block;
}

/* エラーメッセージの表示 */
.list_content_bg ul .message_box {
    position: relative;
}

.list_content_bg ul .message_box .error_message {
    -webkit-user-select: text;
    user-select: text;
    font-family: 'Kosugi Maru', sans-serif;
    color: #bb2b1e;
    line-height: 47.5px;
    font-size: 30px;
}

.list_content_bg ul .message_box .error_message a {
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    top: -3px;
    font-family: 'Kosugi Maru', sans-serif;
    color: white;
    white-space: nowrap;
    font-size: 25px;
    background-color: #cd6a51;
    padding: 7.5px;
    padding-right: 9.5px;
    border-radius: 5px;
    box-shadow: 1px 3px 4px 1.5px #7325125b;
    margin-right: 10px;
    transition: all 0.4s;
}

.message_box .error_message a ion-icon {
    position: relative;
    top: 2.5px;
    padding-right: 2.5px;
}

.list_content_bg ul .message_box .error_message a:hover {
    background-color: #b04328;
}

.list_content_bg .char_img {
    width: 105px;
    height: 105px;
    background-color: #dde7f0;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.35s;
    background-repeat: no-repeat;
    background-size: contain;
}

/* 中央寄せのcss */
.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

/* 中央揃えcss2 使う際は親要素が必ず'relative'であることを確認する */
.centering2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}